<script>
  {% assign current_variant = product.selected_or_first_available_variant %}
  var variant_selected = {};
  variant_selected = {{ current_variant | json }}
  var vifyRequestFQ = {};
  vifyRequestFQ.lineItem = {{ product | json }};
  var variant_selected_id
  variant_selected_id = {{ current_variant.id }}
</script>
<style>
  .price--show-badge {
    display: none;
  }
  .shopify-payment-button {
    display: none;
  }
  .product-form__submit {
    display: none;
  }
</style>
<div id="vify_rfq-f">version 1.0</div>
{% schema %}
  {
    "name": "Vify Quote",
    "target": "section",
    "stylesheet": "index.css",
    "javascript": "index.js",
    "settings": []
  }
{% endschema %}