<script>
  var vifyRequestFQ = {};
  vifyRequestFQ.product = {{ product | json }}
  {% if customer %}
    vifyRequestFQ.customer = {{ customer | json }}
  {% endif %}
  var jsVariants = [];
  {% for variant in product.variants %}
    jsVariants.push({
      ...{{ variant | json }},
      price_formatted: `{{ variant.price | money }}`
    })
  {% endfor %}
  if (vifyRequestFQ) {
    vifyRequestFQ.product.variants = jsVariants;
    window.vifyRequestFQ = vifyRequestFQ;
  }
</script>
<div id="vify_rfq-f"></div>
{% schema %}
{
  "name": "Vify Request Quote",
  "target": "section",
  "stylesheet": "index.css",
  "javascript": "index.js",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
