.Polaris-TopBar__Contents {
  justify-content: flex-start;
}
.Polaris-TopBar__SearchField {
  display: none;
}
.Polaris-TopBar__LogoDisplayControl {
  flex: unset
}

button:focus.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  background: var(--p-color-bg-hover) !important;
}
.Polaris-Text--root.Polaris-Text--headingXs {
  color: black
}
